{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="page-card p-4">
            <h1 class="h4 mb-3">Edit User</h1>
            <form method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                    <label class="form-label">Full name</label>
                    <input class="form-control" name="full_name" value="{{ managed_user.full_name }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input class="form-control" name="email" type="email" value="{{ managed_user.email }}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Phone</label>
                    <input class="form-control" name="phone_no" value="{{ managed_user.phone_no }}">
                </div>
                <div class="col-12">
                    <label class="form-label">Address</label>
                    <input class="form-control" name="address" value="{{ managed_user.address }}">
                </div>
                <div class="col-12 text-end">
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
