<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
</head>
<body>
    <h1>Manage Users</h1>
    <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>

    <h2>Citizens</h2>
    <ul>
        {% for user in citizens %}
            <li>{{ user.username }} - {{ user.email }}
                <a href="{% url 'edit_user' user.id 'Citizen' %}">Edit</a>
                <a href="{% url 'deactivate_account' user.id 'Citizen' %}">Deactivate</a>
                <a href="{% url 'delete_account' user.id 'Citizen' %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Officers</h2>
    <ul>
        {% for user in officers %}
            <li>{{ user.username }} - {{ user.email }}
                <a href="{% url 'edit_user' user.id 'Officer' %}">Edit</a>
                <a href="{% url 'deactivate_account' user.id 'Officer' %}">Deactivate</a>
                <a href="{% url 'delete_account' user.id 'Officer' %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>